.tree-node {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.employee-box {
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 8px 16px;
  background-color: #e0f7fa;
  border: 2px solid #00796b;
  border-radius: 5px;
  margin: 8px 0;
  text-align: center;
}

.tree-children-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-down {
  width: 2px;
  height: 20px;
  background-color: #00796b;
}

.tree-children {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: 10px;
  gap: 20px; /* odstęp między podwładnymi */
}

.line-up {
  width: 2px;
  height: 20px;
  background-color: #00796b;
  /* margin-bottom: 4px; */
}

/* Pozioma linia między dziećmi */
.tree-children::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #00796b;
}
